#logo {
    width: 600px;
    margin: 0 auto;
    display: block;
}

#logo img {
    width: 100%;
}

#menu {
    text-align: center;
    border-bottom: 1px solid black;
    height: 35px;
}

#menu a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 5px 15px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: color, background 0.5s;
}

#menu a:hover {
    background: indianred;
    color: white;
}

#content {
    text-align: center;
    margin: 10px auto;
    font-size: 25px;
}

#form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}